.DS_Store
*.xlsx
*.zip
__pycache__/
.venv/
.pytest_cache/
*.egg-info/
MEMO.md
PLAN.md
note
doc/**/main.aux
doc/**/main.fdb_latexmk
doc/**/main.fls
doc/**/main.log
doc/**/main.synctex.gz
doc/**/main.nav
doc/**/main.out
doc/**/main.snm
doc/**/main.toc
doc/pdf/
doc/map_r0701.pdf
